$blue: rgb(63, 72, 204);
$blue-dark: rgb(53, 57, 115);
$blue-background: rgb(29, 33, 74);
$blue-light-background: rgb(36, 40, 81);
$black: rgb(0, 0, 0);
$white: rgb(255, 255, 255);
$grey: rgb(100, 100, 100);
$grey-light: rgb(197, 196, 196);
$grey-dark: rgb(70, 70, 70);
$grey-border: rgb(213, 213, 213);
$grey-links: rgb(202, 202, 202);
