@import '../../../../variables/screen-sizes';

.wrapper {
  display: flex;
  flex-direction: column;
  .content {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 0px 20px;
  }
}

@media (max-width: $tablet-large) {
  .wrapper {
    height: 242px;
  }
}
