@import './variables/animation-time';

.content {
  margin: 0 20px 80px;
}
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card-loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.card-enter {
  opacity: 0;
}
.card-enter-active {
  opacity: 1;
  transition: opacity $speed ease-in;
}
.card-exit {
  opacity: 1;
}
.card-exit-active {
  opacity: 0;
  transition: opacity $speed ease-in;
}
